
@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300&display=swap');

* {
    margin: 0;
}

h1 {
    font-family: 'Karantina', cursive;
    font-style: light;
}

/******* Header ********/ 

header {
    height: 100vh;
    width: 100%;
    background: url(../assets/img/bg_shiro.jpg) no-repeat;
    background-size: cover;
}


.logo img{
    height: 500px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-48%,-27%);
}

/******* SECTION1 ********/ 

.section1 {
    display: flex;
    height: 100vh;
    width: 100%;
}

.bx {
    display: block;
    background: url(../assets/img/bx.png) no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.bureau {
    display: flex;
    background: url(../assets/img/bureau_shiro.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
}

.timeline {
    display: flex;
    background-color: rgb(212, 212, 212);
    height: 50vh;
    width: 100%;
}


#trait {
    height: 2px;
    width: 95%;
    background-color: black;
    box-shadow: -4px 2px 5px 0px rgba(0,0,0,0.75);
    margin:auto 20px;
}

.bt {
    height: 100vh;
    width: 50%;
}